@font-face {
    font-family: 'Poppins';
    src: url('/resources/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #D8EFD3;
}
.card-img {
    width:10em;
    height: 10em;
    margin: 5em;
}
.card-text1 {
    font-weight: bold;
    font-size: 1em;
}
.btn:hover {
    background-color: #ddd;
    color: black;
}
h2 {
color: black;
font-size: 2em;
}
#place-order {
    margin-left: 5em;
}
#toast-container {
    background-color: #D8EFD3;
    border-color: #D8EFD3;
}