@font-face {
    font-family: 'Rubik';
    src: url('../../resources/fonts/Rubik-Regular.ttf') format('truetype');
  }
  body {
    font-family: "Rubik", sans-serif;
    background-color: #C6DCBA;
    margin: 0;
    padding: 0;
  }
  .sidenav {
    font-family: "Rubik", sans-serif;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 17em; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #071952; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 1.2em;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    margin: 0 0 0 1em;
    font-size: 1.5em;
    color: white;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #C80036;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #071952;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none; /* Remove underline from link */
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #071952;
    min-width: 1em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    display: flex;
    flex-direction: column;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 1em; 
}

.dropdown:hover .dropbtn {
    background-color: #071952;
}

main {
    font-family: "Rubik", sans-serif;
    padding: 20px;
    margin-left: 17em;
}
#btn {
    background-color:#E2BBE9;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 2.2em;
    width: 12em;
    height: 2em;
    font-size: 1em;
    font-weight: bold;
    margin-top: 22em;
    }
#btn:hover {
    background-color: white;
}
.pagination {
    justify-content: center;
    font-weight: bold;
}