@font-face {
    font-family: 'Rubik';
    src: url('../../resources/fonts/Rubik-Regular.ttf') format('truetype');
  }
  body {
      background-color: white;
      font-family: "Rubik", sans-serif;
      margin: 0;
      padding: 0;
  }
  
  /* Add custom CSS styles here */
  header {
    font-family: "Rubik", sans-serif;
    background-color:  #007fa2;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(1, 1, 1, 1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .sidenav {
    font-family: "Rubik", sans-serif;
    height: 100%;
    width: 250px; /* Adjust width as needed */
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: #007fa2;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 1.2em;
  }
  
  .sidenav h5 {
    color: black;
    margin-left: 0.1em;
    font-weight: bold;
    display: block;
  }
  
  .sidenav a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1em;
    color: white;
    transition: 0.3s;
    font-weight: bold;
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden; /* Ensures no overflow */
    text-overflow: ellipsis; /* Shows ellipsis if text overflows */
  }
  
  .sidenav a:hover {
    background-color: #193366;
  }
  
  .sidenav a img {
    width: 0.9em;
    vertical-align: middle;
    margin-bottom: 0.2em;
    margin-right: 0.2em; /* Adds space between icon and text */
  }
  .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
  }
  .btn-secondary {
    background-color: #6c757d;
    color: #ffffff;
    border-color: #6c757d;
    margin-right: 10px; /* Adjust as needed */
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }
  .supplier-management {
    width: 70em;
    margin: 2em auto;
  }
  #searchInput { 
    padding: 0.5em;
    font-size: 0.875rem;    
    height: auto;           
    margin-right: 50em;           
}
  #manageSupplierDropdown.btn-secondary {
    background-color: #007fa2; 
    color: #ffffff; /* Example text color */
}

#manageSupplierDropdown.btn-secondary:hover {
    background-color: #495057; /* Example background color */
    color: #ffffff; /* Example text color */
    /* Add more styles as needed */
}

#manageSupplierDropdown.btn-secondary:focus {
    /* Styles for when the button is focused */
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5); /* Example focus shadow */
    /* Add more styles as needed */
}

/* Example: Changing the dropdown indicator color */
#manageSupplierDropdown.btn-secondary::after {
    border-top-color: #ffffff; /* Example color for the dropdown indicator */
}
.btn-update {
  margin-right: 0.3em;
  background-color: #007fa2;
}
.btn-update:hover{
  background-color: #495057;
  color: white;
}
#submit {
 background-color: #007fa2;
}
#submit:hover {
  background-color: #495057;
  color: white;
 }
 #updatesupplier {
  background-color: #007fa2;
 }
 #updatesupplier:hover {
  background-color: #495057;
  color: white;
 }