/* Global styles */
body {
    color: black;
    overflow-x: hidden;
    height: 100%;
    background-color: #C6DCBA;
    background-repeat: no-repeat;
}
h1{
    margin-left: 1.3em;
    padding: 1em;
}
#h2{
    margin-left: 3.9em;
    padding-top: 1em;
    font-size: 1.5em;
}
p {
    font-size: 1.4em;
    font-weight: bold;
}
.container {
    margin-top:2em;
}

.form-inline {
    display: flex;
    flex-direction: row;
    align-items: center; /* Optional: Align items vertically centered */
  }
  
  .form-inline .form-control {
    margin-right: 5px; /* Adjust spacing between input and button */
  }
  #search {
  background-color: #FF7F3E;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  }
  #search:hover {
    background-color: #91DDCF;
    color:black;
  }
/* Card styles */
.card {
    z-index: 0;
    background-color: #F6FAB9;
    padding-bottom: 20px;
    margin: 1em 0;
    border-radius: 10px;
}

/* Top section styles */
.top {
    padding-top: 40px;
    padding-left: 13% !important;
    padding-right: 13% !important;
}

/* Progress bar styles */
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #455a64;
    padding-left: 0px;
    margin-top: 30px;
}

#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar .step0:before {
    font-family: FontAwesome;
    content: "\f10c";
    color: white;
}

#progressbar li:before {
    width: 40px;
    height: 40px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    background: #c5cae9;
    border-radius: 50%;
    margin: auto;
    padding: 0px;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 12px;
    background: #c5cae9;
    position: absolute;
    left: 0;
    top: 16px;
    z-index: -1;
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%;
}

#progressbar li:nth-child(2):after,
#progressbar li:nth-child(3):after,
#progressbar li:nth-child(4):after {
    left: -50%;
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 50%;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #651fff;
}

#progressbar li.active:before {
    font-family: FontAwesome;
    content: "\f00c";
}

/* Icon styles */
.icon {
    width: 6em;
    margin: 0;
}

.icon-content {
    padding-bottom: 1em;
}

@media screen and (max-width: 992px) {
    .icon-content {
        width: 50%;
    }
}
