@font-face {
  font-family: "Rubik";
  src: url("../../resources/fonts/Rubik-Regular.ttf") format("truetype");
}
/* Global styles */
body {
  font-family: "Rubik", sans-serif;
  color: black;
  overflow-x: hidden;
  height: 100%;
  background-color: white;
  background-repeat: no-repeat;
}
/* Add custom CSS styles here */
header {
  /* background-color: #EEF7FF; */
  background-color: #007fa2;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(1, 1, 1, 1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.sidenav {
  font-family: "Rubik", sans-serif;
  height: 100%;
  width: 0; /* Adjust width as needed */
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: #007fa2;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 1.2em;
}

.sidenav h5 {
  color: black;
  margin-left: 0.1em;
  font-weight: bold;
  display: block;
}

.sidenav a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1em;
  color: white;
  transition: 0.3s;
  font-weight: bold;
  white-space: nowrap; /* Prevents text wrapping */
  overflow: hidden; /* Ensures no overflow */
  text-overflow: ellipsis; /* Shows ellipsis if text overflows */
}

.sidenav a:hover {
  background-color: #193366;
}

.sidenav a img {
  width: 0.9em;
  vertical-align: middle;
  margin-bottom: 0.2em;
  margin-right: 0.2em; /* Adds space between icon and text */
}
.closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
  text-decoration: none;
}
button.openbtn {
  background-color: #007fa2;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#logoutBtn {
  background-color: #007fa2;
}
main {
  padding: 20px;
}
p {
  font-size: 1.1em;
  font-weight: bold;
}
.container {
  margin-top: 2em;
  margin-left: 2.8em;
}

.form-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-inline .form-control {
  margin-right: 5px;
}
#searchInput {
  width: 23em;
  height: 2.5em;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  margin-bottom: 1em;
  margin-left: 5em;
}
.table {
  width: 90%;
  margin-bottom: 1em;
  margin-left: 3.5em;
}

.table th,
.table td {
  padding: 0.5em;
  vertical-align: middle;
  width: 0.5em;
  cursor: pointer;
}

.table thead th {
  vertical-align: middle;
  border-bottom: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Responsive styles */
@media (max-width: 576px) {
  .table-responsive {
    overflow-x: auto;
  }
}
.card {
  z-index: 0;
  background-color: white;
  padding-bottom: 20px;
  margin: 1em 0;
  border-radius: 10px;
}
/* Top section styles */
.top {
  padding-top: 40px;
  padding-left: 13% !important;
  padding-right: 13% !important;
}

/* Progress bar styles */
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: #455a64;
  width: 75em;
  padding-left: 0px;
  margin-top: 30px;
  margin-left: 3em;
}

#progressbar li {
  list-style-type: none;
  font-size: 1em;
  width: 20%;
  float: left;
  position: relative;
  font-weight: 500;
}

#progressbar .step0:before {
  font-family: FontAwesome;
  content: "\f10c";
  color: white;
}
#progressbar li:before {
  width: 40px;
  height: 40px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  background: #c5cae9;
  border-radius: 50%;
  margin: auto;
  padding: 0px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 12px;
  background: #c5cae9;
  position: absolute;
  left: 0;
  top: 16px;
  z-index: -1;
}

#progressbar li:last-child:after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: -50%;
}

#progressbar li:nth-child(2):after,
#progressbar li:nth-child(3):after,
#progressbar li:nth-child(4):after {
  left: -50%;
}

#progressbar li:first-child:after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  left: 50%;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #651fff;
}

#progressbar li.active:before {
  font-family: FontAwesome;
  content: "\f00c";
}

/* Icon styles */
.icon {
  width: 6em;
  margin: 0;
}

.icon-content {
  padding-bottom: 1em;
}

@media screen and (max-width: 992px) {
  .icon-content {
    width: 50%;
  }
}
#result {
  margin-left: 0;
}
.btns {
  gap: 0.3em;
}
.btn.filter-button {
  background-color: #007fa2;
  color: #fff;
  font-weight: bold;
}
.btn.filter-button:hover {
  background-color: #91ddcf;
  color: black;
}
.pagination .page-item.active .page-link {
  background-color: grey; /* Background color for active link */
  color: white; /* Text color for active link */
  border-color: grey; /* Border color for active link */
}

.pagination .page-item .page-link {
  color: black; /* Default text color for pagination links */
  border-color: #071952; /* Default border color for pagination links */
}

.pagination .page-item .page-link:hover {
  background-color: grey; /* Background color on hover */
  color: white; /* Text color on hover */
}
