@font-face {
    font-family: 'Rubik';
    src: url('../../resources/fonts/Rubik-Regular.ttf') format('truetype');
  }
/* Global styles */
body {
    font-family: "Rubik", sans-serif;
    color: black;
    overflow-x: hidden;
    height: 100%;
    background-color: #C6DCBA;
    background-repeat: no-repeat;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 17em; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #071952; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 1.2em;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    margin: 0 0 0 1em;
    font-size: 1.5em;
    color: white;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #C80036;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
main {
    padding: 20px;
    margin-left: 17em;
}
#btn {
background-color:#E2BBE9;
border: 1px solid white;
border-radius: 10px;
margin-left: 2.2em;
width: 12em;
height: 2em;
font-size: 1em;
font-weight: bold;
margin-top: 22em;
}
#btn:hover {
  background-color: white;
}
p {
    font-size: 1.1em;
    font-weight: bold;
}
.container {
    margin-top:2em 0 0 0;
}

.form-inline {
    display: flex;
    flex-direction: row;
    align-items: center; /* Optional: Align items vertically centered */
  }
  
  .form-inline .form-control {
    margin-right: 5px; /* Adjust spacing between input and button */
  }
  #searchButton {
  background-color: #FF7F3E;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  }
  #searchButton:hover {
    background-color: #91DDCF;
    color:black;
  }
/* Card styles */
.card {
    z-index: 0;
    background-color: #F6FAB9;
    padding-bottom: 20px;
    margin: 1em 0;
    border-radius: 10px;
}

/* Top section styles */
.top {
    padding-top: 40px;
    padding-left: 13% !important;
    padding-right: 13% !important;
}

/* Progress bar styles */
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #455a64;
    padding-left: 0px;
    margin-top: 30px;
}

#progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar .step0:before {
    font-family: FontAwesome; 
    content: "\f10c";
    color: white;
}


#progressbar li:before {
    width: 40px;
    height: 40px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    background: #c5cae9;
    border-radius: 50%;
    margin: auto;
    padding: 0px;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 12px;
    background: #c5cae9;
    position: absolute;
    left: 0;
    top: 16px;
    z-index: -1;
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%;
}

#progressbar li:nth-child(2):after,
#progressbar li:nth-child(3):after,
#progressbar li:nth-child(4):after {
    left: -50%;
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 50%;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #651fff;
}

#progressbar li.active:before {
    font-family: FontAwesome;
    content: "\f00c";
}

/* Icon styles */
.icon {
    width: 6em;
    margin: 0;
}

.icon-content {
    padding-bottom: 1em;
}

@media screen and (max-width: 992px) {
    .icon-content {
        width: 50%;
    }
}
#result {
  margin-left: 0;
}
.btns {
  gap: 1em;
}
.btn.filter-button {
  background-color: #FF7F3E; 
  color: #fff; 
  font-weight: bold;
}
.btn.filter-button:hover {
  background-color: #91DDCF;
  color:black;
}