body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 14em; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #071952; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    margin-left: 1em;
    font-size: 1.2em;
    color: white;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #C80036;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
main {
    padding: 20px;
    margin-left: 15em;
}
img {
  width: 3em;
}
section {
    margin-bottom: 1.5em;
    border: 1px solid white;
    border-radius: 26px;
    padding: 1.2em;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
}
.row {
  display: flex;
  flex-direction: row;
  gap: 8em;
  justify-content: center;
}

.card-title{
  margin-right: 1em;
}

.card-text {
  font-size: 2em;
  font-weight: bold;
}
.card-img-top {
  width: 5em;
}
.overview {
    background-color: #f0f0f0;
    padding: 20px;
}

.metrics {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
}

.metric {
    text-align: center;
}

.actions button {
    margin-right: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.actions button:hover {
    background-color: #0056b3;
}
 #btn {
 background-color:#E2BBE9;
 border: 1px solid white;
 border-radius: 26px;
 margin-left: 2.2em;
 width: 10em;
 height: 2em;
 font-size: 1em;
 font-weight: bold;
 margin-top: 14em;
 }
 #btn:hover {
  background-color: white;
 }
footer {
    margin-left: 17em;
}
